/* grades.css */
body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    padding-top: 60px;
}

.navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    width: 100%;
}

h2 {
    color: #343a40;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.form-group label {
    font-weight: bold;
    color: #495057;
    margin-bottom: 10px;
}

.form-control {
    border-radius: 10px;
    border: 1px solid #ced4da;
    margin-bottom: 15px;
}

.table {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-block {
    width: 100%;
    text-align: center;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
}

.notification.show {
    opacity: 1;
}

.notification.success {
    background-color: #4caf50;
}

.notification.error {
    background-color: #f44336;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.table th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table td h1 {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.table td button {
    margin-top: 5px;
}

.table-container {
    overflow-x: auto;
    margin-bottom: 20px;
}

.table .btn {
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.table .btn:hover {
    background-color: #0056b3;
}

.table .btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.calc-final-grade-container {
    text-align: center;
    margin-top: 20px;
}

.final-grade-cell {
    font-weight: bold;
    color: #343a40;
}
