body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.login-container .btn {
    background-color: #007bff;
    border: none;
}

.login-container .btn:hover {
    background-color: #0056b3;
}
